---
- name: Install and configure ollama serve
  hosts:
    - all
    - localhost
  gather_facts: false
  vars: {}
  roles:
    - role: ollama-serve
      vars:
        ollama_serve_model: "{{ model }}"
        ollama_serve_version: "{{ ollama_version | default('0.12.10', true) }}"
