---
- name: Install and configure ollama serve
  hosts:
    - all
    - localhost
  gather_facts: true
  vars: {}
  roles:
    - role: uusrc.general.uv
      vars:
        uv_vens: { path: '/.venv', python: '3.11' }
        uv_python_versions: [ '3.11' ]
        # uv_become: false
        # uv_become_user: 
    - role: ollama-serve
      vars:
        ollama_serve_model: "{{ model }}"
        ollama_serve_version: "{{ ollama_version | default('0.12.10', true) }}"
    - role: openwebui
    - role: uusrc.general.nginx_reverse_proxy
      vars:
        nginx_reverse_proxy_locations:
          - name: openwebui
            location: /
            auth: sram
            proxy_pass: http://localhost:3000
            proxy_set_header:
              X-Remote-User-Mail: $username@localhost
