[Unit]
Description=Service for openwebui
After=network.target ollama.service

[Service]
User=openwebui
WorkingDirectory="{{ openwebui_home }}"
{% for var_name, value in openwebui_env.items() %}
Environment="{{ var_name }}={{ value }}"
{% endfor %}
ExecStart={{ openwebui_venv }}/bin/open-webui serve
Restart=always

[Install]
WantedBy=multi-user.target

